
<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
      <div class = "container home_page">
          <h1>Hacker News Search</h1>
          <div class ="route">
           <a class= "btn btn-success" href="/new_page=:skip" >Latest news</a>
           <a class= "btn btn-success" href="/top_page=:skip" >Top Stories</a>
           <a class= "btn btn-success" href="/best_page=:skip" >Best news</a>
          </div>
      </div>
      
  </body>
  </html>